name: Xcode Build & Test

on: [push, pull_request]

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Build project
        run: |
          cd FintechKids
          xcodebuild -project "FintechKids.xcodeproj" \
                     -scheme "FintechKids" \
                     -sdk iphonesimulator \
                     -destination 'platform=iOS Simulator,name=iPhone 15,OS=latest' \
                     clean build
